<script>
import { defineComponent } from "vue";
import WriteIcon from "@/views/icons/WriteIcon.vue";

export default defineComponent({
  components: { WriteIcon },
});
</script>

<template>
  <div
    class="flex items-center justify-center space-x-3 rounded-full bg-primary text-white lg:w-full lg:py-3"
  >
    <WriteIcon class="flex lg:hidden" />

    <span class="hidden lg:flex">{{ $capitalize("post") }}</span>
  </div>
</template>
