<script setup lang="ts">
import MainLayout from "@/views/layouts/MainLayout.vue";
import HeaderComponent from "@/views/components/HeaderComponent.vue";
import MediaIcon from "@/views/icons/MediaIcon.vue";
import GifIcon from "@/views/icons/GifIcon.vue";
import PollIcon from "@/views/icons/PollIcon.vue";
import EmojiIcon from "@/views/icons/EmojiIcon.vue";
import ScheduleIcon from "@/views/icons/ScheduleIcon.vue";
import LocationIcon from "@/views/icons/LocationIcon.vue";
import PostComponent from "@/views/components/PostComponent.vue";
import usePostStore from "@/stores/usePostStore";
import { ref } from "vue";
import AvatarComponent from "@/views/components/AvatarComponent.vue";
import useAuthStore from "@/stores/useAuthStore";

const postStore = usePostStore();
const content = ref("");

if (!usePostStore().loading || !usePostStore().initialized) {
  usePostStore().fetchPosts().then();
}

const post = () => {
  if (content.value) {
    usePostStore()
      .add(content.value)
      .then(() => {
        content.value = "";
      });
  }
};
</script>

<template>
  <MainLayout>
    <HeaderComponent />

    <div class="flex flex-col divide-y overflow-y-auto dark:divide-slate-700 dark:text-slate-50">
      <div class="flex">
        <a
          class="flex w-1/2 px-3 pt-3 text-center hover:bg-slate-800"
          href="javascript:"
        >
          <div class="flex-1"></div>

          <div class="flex-0 flex flex-col space-y-3">
            <span class="font-poppins font-semibold">For you</span>
            <span class="h-[5px] rounded-full bg-primary">&nbsp;</span>
          </div>

          <div class="flex-1"></div>
        </a>

        <a
          class="flex w-1/2 px-3 pt-3 text-center hover:bg-slate-800"
          href="javascript:"
        >
          <div class="flex-1"></div>

          <div class="flex-0 flex flex-col space-y-3">
            <span class="font-semibold dark:text-slate-600">Following</span>
            <span class="hidden h-[5px] rounded-full bg-primary">&nbsp;</span>
          </div>

          <div class="flex-1"></div>
        </a>
      </div>

      <div class="flex justify-between px-5 py-2 pb-5">
        <div class="flex items-start space-x-3">
          <AvatarComponent :user="useAuthStore().user" />

          <div class="flex flex-col space-y-5">
            <input
              v-model="content"
              class="bg-transparent font-nunito text-2xl dark:placeholder-slate-500"
              placeholder="What's happening?"
            />

            <div class="flex space-x-3 text-primary">
              <div class="rounded-full p-2 hover:bg-slate-800">
                <MediaIcon class="h-5 w-5" />
              </div>

              <div class="rounded-full p-2 hover:bg-slate-800">
                <GifIcon class="h-5 w-5" />
              </div>

              <div class="rounded-full p-2 hover:bg-slate-800">
                <PollIcon class="h-5 w-5" />
              </div>

              <div class="rounded-full p-2 hover:bg-slate-800">
                <EmojiIcon class="h-5 w-5" />
              </div>

              <div class="rounded-full p-2 hover:bg-slate-800">
                <ScheduleIcon class="h-5 w-5" />
              </div>

              <div class="rounded-full p-2">
                <LocationIcon class="h-5 w-5 opacity-50" />
              </div>
            </div>
          </div>
        </div>

        <div class="self-end">
          <button
            @click="post"
            :class="[content ? 'opacity-100' : 'opacity-50']"
            class="rounded-full bg-primary py-2 px-5"
            >Post</button
          >
        </div>
      </div>

      <a
        class="w-full p-2 py-3 text-center text-primary dark:hover:bg-slate-800"
        href="javascript:"
        >Show 665 Posts</a
      >

      <PostComponent v-for="post in postStore.posts" :key="post" :post="post" />
    </div>
  </MainLayout>
</template>
