<script setup lang="ts">
import MainLayout from "@/views/layouts/MainLayout.vue";
import HeaderComponent from "@/views/components/HeaderComponent.vue";
import useAuthStore from "@/stores/useAuthStore";
import usePostStore from "@/stores/usePostStore";
import RepostIcon from "@/views/icons/RepostIcon.vue";
import ReplyIcon from "@/views/icons/ReplyIcon.vue";
import ViewIcon from "@/views/icons/ViewIcon.vue";
import LikeIcon from "@/views/icons/LikeIcon.vue";
import { computed, onMounted, ref } from "vue";
import CommentComponent from "@/views/components/CommentComponent.vue";
import AvatarComponent from "@/views/components/AvatarComponent.vue";
import useCommentStore from "@/stores/useCommentStore";
import type Post from "@/entities/Post";

const props = defineProps<{ id: string }>();
const content = ref("");
const postStore = usePostStore();
const commentStore = useCommentStore();
const post = ref<Post|null>(null);

const add = () => {
  if (content.value && post.value, content.value) {
    commentStore.add(post.value.id, content.value).then(() => {
      content.value = "";
    });
  }
};

const loading = ref(false);

const fetchPost = async (id: number) => {
  loading.value = true;
  post.value = await postStore.fetchPost(id);
  loading.value = false;
};

onMounted(async () => {
  fetchPost(parseInt(props.id)).then();
});
</script>

<template>
  <MainLayout>
    <HeaderComponent />

    <div
      class="flex flex-col divide-y overflow-y-auto dark:divide-slate-700 dark:text-slate-50"
    >
      <div v-if="post" class="flex space-x-3 px-5 py-3 hover:bg-slate-800/50">
        <AvatarComponent class="self-start" :user="post.author" />

        <div class="flex flex-col">
          <h3 class="space-x-2">
            <span>{{ post.author.firstName ?? "" }}</span>

            <span class="text-sm dark:text-slate-500"
              >@{{ post.author.email ?? "" }}</span
            >
            <span class="text-sm dark:text-slate-500">-</span>
            <span class="text-sm dark:text-slate-500">21h</span>
          </h3>

          <p v-html="post.content ?? ''"></p>

          <div class="flex space-x-5 py-3">
            <a
              class="group flex items-center space-x-2 text-sm text-slate-500 hover:text-primary"
              href="javascript:"
            >
              <div class="rounded-full p-2 group-hover:bg-slate-800">
                <ReplyIcon class="h-5 w-5" />
              </div>
              <span class="">1.2k</span>
            </a>

            <a
              class="group flex items-center space-x-2 text-sm text-slate-500 hover:text-sky-500"
              href="javascript:"
            >
              <div class="rounded-full p-2 group-hover:bg-slate-800">
                <RepostIcon class="h-5 w-5" />
              </div>
              <span class="">20.3k</span>
            </a>

            <a
              class="group flex items-center space-x-2 text-sm text-slate-500 hover:text-red-500"
              href="javascript:"
            >
              <div class="rounded-full p-2 group-hover:bg-slate-800">
                <LikeIcon class="h-5 w-5" />
              </div>
              <span class="">20.3k</span>
            </a>

            <a
              class="group flex items-center space-x-2 text-sm text-slate-500 hover:text-primary"
              href="javascript:"
            >
              <div class="rounded-full p-2 group-hover:bg-slate-800">
                <ViewIcon class="h-5 w-5" />
              </div>
              <span class="">20.3k</span>
            </a>

            <a
              class="group flex items-center space-x-2 text-sm text-slate-500 hover:text-primary"
              href="javascript:"
            >
              <div class="rounded-full p-2 group-hover:bg-slate-800">
                <RepostIcon class="h-5 w-5" />
              </div>
            </a>
          </div>
        </div>

        <a href="javascript:"> ...</a>
      </div>

      <div class="flex justify-between px-5 py-3">
        <div class="flex space-x-3">
          <AvatarComponent :user="useAuthStore().user" />

          <input
            v-model="content"
            class="h-12 bg-transparent"
            placeholder="Post your reply"
          />
        </div>

        <button @click="add" class="py rounded-full bg-primary px-5">
          Reply
        </button>
      </div>

      <CommentComponent
        v-for="comment in post?.comments?.sort((a, b) => -(a.id - b.id)) ?? []"
        :key="comment.id"
        :comment="comment"
      />
    </div>
  </MainLayout>
</template>
