<script setup lang="ts">
import useAuthStore from "@/stores/useAuthStore";
import { ref } from "vue";
import router from "@/router";

const authStore = useAuthStore();
const firstName = ref(import.meta.env.VITE_FIRST_NAME ?? "");
const lastName = ref(import.meta.env.VITE_LAST_NAME ?? "");
const email = ref(import.meta.env.VITE_EMAIL ?? "");
const password = ref(import.meta.env.VITE_PASSWORD ?? "");

const login = () => {
  fetch(`${import.meta.env.VITE_API_URL}/user/register`, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      firstName: firstName.value,
      lastName: lastName.value,
      email: email.value,
      password: password.value,
    }),
  })
    .then((response) => response.json())
    .then((data) => {
      authStore.user = data;
      authStore.token = data.token;
      router.push("/");
    });
};
</script>

<template>
  <div
    class="flex h-screen w-full flex-col justify-center py-12 sm:px-6 lg:px-8"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <img class="mx-auto h-48 w-auto" src="@/assets/logo.svg" alt="logo" />

      <h2
        class="mt-6 text-center text-3xl font-extrabold text-slate-900 dark:text-white"
      >
        {{ $t("please_sign_up") }}
      </h2>

      <p class="mt-2 text-center text-sm text-gray-600 dark:text-slate-400">
        {{ $t("or") }}
        &nbsp;
        <router-link
          to="/login"
          class="font-medium text-primary hover:text-primary-400"
        >{{ $t("sign_in") }}</router-link
        >
      </p>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <form @submit.prevent="login" class="space-y-6" method="POST">
          <div>
            <label
              for="firstName"
              class="block text-sm font-medium text-slate-700"
            >
              {{ $t("first_name") }}
            </label>

            <div class="mt-1">
              <input
                v-model="firstName"
                id="firstName"
                name="firstName"
                type="text"
                autocomplete="firstName"
                required
                autofocus
                class="block w-full appearance-none rounded-md border border-slate-300 px-3 py-2 placeholder-slate-400 shadow-sm focus:border-primary focus:outline-none focus:ring-primary dark:text-slate-900 sm:text-sm"
              />
            </div>
          </div>

          <div>
            <label
              for="lastName"
              class="block text-sm font-medium text-slate-700"
            >
              {{ $t("last_name") }}
            </label>

            <div class="mt-1">
              <input
                v-model="lastName"
                id="lastName"
                name="lastName"
                type="text"
                autocomplete="lastName"
                required
                autofocus
                class="block w-full appearance-none rounded-md border border-slate-300 px-3 py-2 placeholder-slate-400 shadow-sm focus:border-primary focus:outline-none focus:ring-primary dark:text-slate-900 sm:text-sm"
              />
            </div>
          </div>

          <div>
            <label for="email" class="block text-sm font-medium text-slate-700">
              {{ $t("email") }}
            </label>

            <div class="mt-1">
              <input
                v-model="email"
                id="email"
                name="email"
                type="email"
                autocomplete="email"
                required
                autofocus
                class="block w-full appearance-none rounded-md border border-slate-300 px-3 py-2 placeholder-slate-400 shadow-sm focus:border-primary focus:outline-none focus:ring-primary dark:text-slate-900 sm:text-sm"
              />
            </div>
          </div>

          <div>
            <label
              for="password"
              class="block text-sm font-medium text-slate-700"
            >
              {{ $t("password") }}
            </label>

            <div class="mt-1">
              <input
                v-model="password"
                id="password"
                name="password"
                type="password"
                autocomplete="current-password"
                required
                class="block w-full appearance-none rounded-md border border-slate-300 px-3 py-2 placeholder-slate-400 shadow-sm focus:border-primary focus:outline-none focus:ring-primary dark:text-slate-900 sm:text-sm"
              />
            </div>
          </div>

          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input
                id="remember_me"
                name="_remember_me"
                type="checkbox"
                class="h-4 w-4 rounded border-slate-300 text-primary-600 focus:ring-primary"
              />
              <label
                for="remember_me"
                class="ml-2 block text-sm text-slate-900"
              >
                {{ $t("remember_me") }}
              </label>
            </div>

            <div class="text-sm">
              <a
                href="javascript:"
                class="font-medium text-primary-600 hover:text-primary"
              >
                {{ $t("forgot_your_password") }}?
              </a>
            </div>
          </div>

          <button
            type="submit"
            class="flex inline-flex w-full items-center justify-center rounded-lg border bg-primary px-4 py-2 text-center text-base font-medium text-white shadow-sm hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2"
          >
            {{ $t("sign_up") }}
          </button>
        </form>
      </div>
    </div>
  </div>
</template>
