<script setup lang="ts">
import MenuItemComponent from "@/views/components/MenuItemComponent.vue";
import BookmarksIcon from "@/views/icons/BookmarksIcon.vue";

defineProps<{ active: boolean }>();
</script>

<template>
  <MenuItemComponent :active="active" label="bookmarks">
    <BookmarksIcon />
  </MenuItemComponent>
</template>
