<script setup lang="ts">
import MenuItemComponent from "@/views/components/MenuItemComponent.vue";
import CommunitiesIcon from "@/views/icons/CommunitiesIcon.vue";

defineProps<{ active: boolean }>();
</script>

<template>
  <MenuItemComponent :active="active" label="communities">
    <CommunitiesIcon />
  </MenuItemComponent>
</template>
