<script setup lang="ts">
import MenuItemComponent from "@/views/components/MenuItemComponent.vue";
import ExploreIcon from "@/views/icons/ExploreIcon.vue";

defineProps<{ active: boolean }>();
</script>

<template>
  <MenuItemComponent :active="active" label="explore">
    <ExploreIcon />
  </MenuItemComponent>
</template>
