<script setup lang="ts">
import MenuItemComponent from "@/views/components/MenuItemComponent.vue";

defineProps<{ active: boolean }>();
</script>

<template>
  <MenuItemComponent :active="active" />
</template>
