<script setup lang="ts">
import MenuItemComponent from "@/views/components/MenuItemComponent.vue";
import MessagesIcon from "@/views/icons/MessagesIcon.vue";

defineProps<{ active: boolean }>();
</script>

<template>
  <MenuItemComponent :active="active" label="messages">
    <MessagesIcon />
  </MenuItemComponent>
</template>
