<script setup lang="ts">
import MenuItemComponent from "@/views/components/MenuItemComponent.vue";
import MoreIcon from "@/views/icons/MoreIcon.vue";

defineProps<{ active: boolean }>();
</script>

<template>
  <MenuItemComponent :active="active" label="more">
    <MoreIcon />
  </MenuItemComponent>
</template>
