<script setup lang="ts">
import MenuItemComponent from "@/views/components/MenuItemComponent.vue";
import NotificationsIcon from "@/views/icons/NotificationsIcon.vue";

defineProps<{ active: boolean }>();
</script>

<template>
  <MenuItemComponent :active="active" label="notifications">
    <NotificationsIcon />
  </MenuItemComponent>
</template>
