<script setup lang="ts">
import MenuItemComponent from "@/views/components/MenuItemComponent.vue";
import ProfileIcon from "@/views/icons/ProfileIcon.vue";

defineProps<{ active: boolean }>();
</script>

<template>
  <MenuItemComponent :active="active" label="profile">
    <ProfileIcon />
  </MenuItemComponent>
</template>
