<script setup lang="ts">
import { RouterView } from "vue-router";
import { useDark } from "@vueuse/core";
import NotificationComponent from "@/views/notifications/NotificationComponent.vue";

useDark();
</script>

<template>
  <div class="relative">
    <RouterView />

    <NotificationComponent />
  </div>
</template>
