<script setup lang="ts">
import LogoComponent from "@/views/components/LogoComponent.vue";
import HomeMenuItem from "@/views/menu/item/HomeMenuItem.vue";
import ExploreMenuItem from "@/views/menu/item/ExploreMenuItem.vue";
import CommunitiesMenuItem from "@/views/menu/item/CommunitiesMenuItem.vue";
import NotificationsMenuItem from "@/views/menu/item/NotificationsMenuItem.vue";
import MessagesMenuItem from "@/views/menu/item/MessagesMenuItem.vue";
import BookmarksMenuItem from "@/views/menu/item/BookmarksMenuItem.vue";
import MoreMenuItem from "@/views/menu/item/MoreMenuItem.vue";
import ProfileMenuItem from "@/views/menu/item/ProfileMenuItem.vue";
import WriteAction from "@/views/actions/WriteAction.vue";
import useAuthStore from "@/stores/useAuthStore";
import useCommentStore from "@/stores/useCommentStore";
import CommentComponent from "@/views/components/CommentComponent.vue";
import AvatarComponent from "@/views/components/AvatarComponent.vue";

const commentStore = useCommentStore();
const authStore = useAuthStore();
</script>

<template>
  <div class="container mx-auto flex h-screen divide-x dark:divide-slate-700">
    <aside class="flex max-w-xs flex-col items-center justify-between px-3">
      <div class="flex flex-col space-y-3 py-5">
        <LogoComponent />

        <div>
          <HomeMenuItem :active="$route.path === '/'" />
          <ExploreMenuItem :active="$route.path === '/explore'" />
          <CommunitiesMenuItem :active="$route.path === '/communities'" />
          <NotificationsMenuItem :active="$route.path === '/notification'" />
          <MessagesMenuItem :active="$route.path === '/messages'" />
          <BookmarksMenuItem :active="$route.path === '/bookmarks'" />
          <ProfileMenuItem :active="$route.path === '/profile'" />
          <MoreMenuItem :active="$route.path === '/more'" />
        </div>

        <WriteAction></WriteAction>
      </div>

      <div>
        <div class="flex space-x-3">
          <AvatarComponent class="self-start" :user="authStore.user" />

          <div class="flex flex-col dark:text-slate-50">
            <span>{{
              authStore.user.firstName + " " + authStore.user.lastName
            }}</span>

            <span>@{{ authStore.user.email }}</span>
          </div>
        </div>
      </div>
    </aside>

    <main class="flex flex-1 flex-col">
      <slot />
    </main>

    <aside class="max-w-xs overflow-y-auto px-3">
      <form class="rounded-full dark:bg-slate-700">
        <input
          placeholder="Search Poster"
          type="text"
          class="bg-transparent px-10 py-2 placeholder-slate-500"
        />
      </form>

      <div>
        <CommentComponent
          v-for="comment in commentStore?.comments
            ?.sort((a, b) => -(a.id - b.id))
            .slice(0, 10) ?? []"
          :key="comment.id"
          :comment="comment"
        />
      </div>
    </aside>
  </div>
</template>
