<script setup lang="ts">
import { computed } from "vue";
import type User from "@/entities/User";

const props = defineProps<{ user: User }>();

const initials = computed(() => {
  return (
    (props.user.firstName?.slice(0, 1).toUpperCase() ?? "") +
    (props.user.lastName?.slice(0, 1).toUpperCase() ?? "")
  );
});
</script>

<template>
  <div class="rounded-full bg-primary p-3 text-white">
    {{ initials }}
  </div>
</template>
