<script setup lang="ts">
import type Comment from "@/entities/Comment";
import AvatarComponent from "@/views/components/AvatarComponent.vue";

defineProps<{ comment: Comment }>();
</script>
<template>
  <div class="flex items-start space-x-3 px-5 py-3 dark:text-slate-50">
    <AvatarComponent :user="comment.author" />

    <div class="flex flex-col">
      <p v-html="comment.content?.slice(0, 100) + '...'"></p>
    </div>
  </div>
</template>
