<script setup lang="ts">
import { defineProps } from "vue";
import PageTitleComponent from "@/views/components/PageTitleComponent.vue";

defineProps<{ title?: string }>();
</script>

<template>
  <header class="p-5 font-nunito dark:text-slate-50">
    <PageTitleComponent :title="title" />
  </header>
</template>
