<script setup lang="ts">
import HomeIcon from "@/views/icons/HomeIcon.vue";
import type { RouteLocationRaw } from "vue-router";
import { provide } from "vue";

const props = defineProps<{
  to?: RouteLocationRaw;
  label?: string;
  active?: boolean;
}>();

provide("active", props.active);
</script>

<template>
  <router-link
    :to="to ?? '/'"
    class="flex space-x-3 rounded-full p-3 hover:bg-slate-100 dark:hover:bg-slate-800 text-slate-700 dark:text-slate-50"
  >
    <slot><HomeIcon /></slot>

    <span :class="[active ? 'font-bold' : '']" class="hidden text-xl xl:flex">
      <slot name="label">{{ label ?? $capitalize(label ?? "home") }}</slot>
    </span>
  </router-link>
</template>
