<script setup lang="ts">
import { defineProps } from "vue";

defineProps<{ title?: string }>();
</script>

<template>
  <h1 class="text-xl font-bold dark:text-slate-50">
    <slot>{{ title ?? $capitalize("home") }}</slot>
  </h1>
</template>
