<script setup lang="ts">
import RepostIcon from "@/views/icons/RepostIcon.vue";
import ReplyIcon from "@/views/icons/ReplyIcon.vue";
import LikeIcon from "@/views/icons/LikeIcon.vue";
import ViewIcon from "@/views/icons/ViewIcon.vue";
import type Post from "@/entities/Post";
import AvatarComponent from "@/views/components/AvatarComponent.vue";

defineProps<{ post: Post }>();
</script>

<template>
  <div
    class="flex cursor-pointer space-x-3 px-5 py-3 hover:bg-slate-800/50 dark:text-slate-50"
    @click="$router.push('/post/' + post.id)"
  >
    <AvatarComponent class="self-start" :user="post.author" />

    <div class="flex flex-col">
      <h3 class="space-x-2">
        <span>{{ post.author.firstName ?? "" }}</span>

        <span class="text-sm dark:text-slate-500"
          >@{{ post.author.email ?? "" }}</span
        >
        <span class="text-sm dark:text-slate-500">-</span>
        <span class="text-sm dark:text-slate-500">21h</span>
      </h3>

      <p v-html="(post.content ?? '').slice(0, 200)"></p>

      <div class="flex space-x-5 py-3">
        <a
          class="group flex items-center space-x-2 text-sm text-slate-500 hover:text-primary"
          href="javascript:"
        >
          <div class="rounded-full p-2 group-hover:bg-slate-800">
            <ReplyIcon class="h-5 w-5" />
          </div>
          <span class="">1.2k</span>
        </a>

        <a
          class="group flex items-center space-x-2 text-sm text-slate-500 hover:text-sky-500"
          href="javascript:"
        >
          <div class="rounded-full p-2 group-hover:bg-slate-800">
            <RepostIcon class="h-5 w-5" />
          </div>
          <span class="">20.3k</span>
        </a>

        <a
          class="group flex items-center space-x-2 text-sm text-slate-500 hover:text-red-500"
          href="javascript:"
        >
          <div class="rounded-full p-2 group-hover:bg-slate-800">
            <LikeIcon class="h-5 w-5" />
          </div>
          <span class="">20.3k</span>
        </a>

        <a
          class="group flex items-center space-x-2 text-sm text-slate-500 hover:text-primary"
          href="javascript:"
        >
          <div class="rounded-full p-2 group-hover:bg-slate-800">
            <ViewIcon class="h-5 w-5" />
          </div>
          <span class="">20.3k</span>
        </a>

        <a
          class="group flex items-center space-x-2 text-sm text-slate-500 hover:text-primary"
          href="javascript:"
        >
          <div class="rounded-full p-2 group-hover:bg-slate-800">
            <RepostIcon class="h-5 w-5" />
          </div>
        </a>
      </div>
    </div>

    <a href="javascript:"> ...</a>
  </div>
</template>
